<!DOCTYPE html>
<html lang="en">
<%- include("../Partials/Head.ejs"); %>

<body onload="load()">
    <%- include("../Partials/Navbar.ejs"); %>

    <%- include("../Partials/Forms/CreateGame.ejs"); %>

    <%- include("../Partials/Scripts/AlertGameJS.ejs"); %>


</body>

</html>