<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/bootstrap-dark.min.css" />
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.1.0/dist/css/bootstrap-prefers-light.min.css" />
    <title>Document</title>
</head>
<body>
    <!-- <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body d-flex flex-column">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary mt-auto">Sign up for free</button>
            </div>
        </div>
    </div> -->

    <!-- <div class="container">
        <div class="row ">
            <div class="col-auto flex-shrink-1 bg-success">Lots of text - asdfd adf adf adf akljl;kj adffdaasd kj; jad
                adsfasdf adsf;kj 
            </div>
            <div class="col bg-warning text-right">pushed to other line</div>
        </div>
    </div>
 -->

    <!-- <div class="container-fluid">
        <div class="row">

        </div>
        <div class="row">

        </div>
        <div class="row"></div>
    </div> -->
    
     
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col">col1</div>
            <div class="col">col2</div>
            <div class="col">col3</div>
            <div class="col">col4</div>
            <div class="col">col5</div>
        </div>

        <!-- <div class="row">
            <div class="col">col4</div>
            <div class="col">col5</div>
            <div class="col">col6</div>
        </div>

        <div class="row">
            <div class="col">col7</div>
            <div class="col">col8</div>
            <div class="col">col9</div>
        </div> -->
    </div>

        <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-auto">
                    <div class="row">
                        <div class="card" style="margin: auto; margin-top: 12px;">
                            <div class="card-body">
        
                                <div class="card-header text-center" style="margin-bottom: 15px;">
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <p class="card-text">ID: Card Test</p>
                                <p class="card-text">Email: Another Test</p>
    
                                <div class="card-header text-center" style="margin-bottom: 15px;">
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <p class="card-text">ID: Card Test</p>
                                <p class="card-text">Email: Another Test</p>
    
                                <div class="card-header text-center" style="margin-bottom: 15px;">
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <p class="card-text">ID: Card Test</p>
                                <p class="card-text">Email: Another Test</p>
    
                                <div class="card-header text-center" style="margin-bottom: 15px;">
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <p class="card-text">ID: Card Test</p>
                                <p class="card-text">Email: Another Test</p>
    
                                <div class="card-header text-center" style="margin-bottom: 15px;">
                                    <h5 class="card-title">Test</h5>
                                </div>
                                <p class="card-text">ID: Card Test</p>
                                <p class="card-text">Email: Another Test</p>
        
                                <!-- TODO: GET THE ROUTES FOR THE BUTTONS -->
                                <!-- <form action="/esports-players/remove/1/" method="post">
                                    <button type="submit" class="btn btn-lg btn-block btn-primary mt-auto"
                                        style="margin-bottom: 15px;">Delete</button>
                                </form>
                                <form action="/esports-players/edit/2/" method="get">
                                    <button type="submit" class="btn btn-lg btn-block btn-primary mt-auto">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->






</body>
</html>