<div class="card" style="width: 18rem; margin: 15px;">
    <div class="card-body">
        <h5 class="card-title"><%= countryTitle %> </h5>
        <p class="card-text"><%= lastUpdate %>></p>
        <p class="card-text"> <%= countryId %></p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
