<!-- TODO: REMOVE BUTTON  OR MAKE NEW COPYRIGHT HEADER -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <form action="<%= footer.url %>" method="<%= footer.method %>">
        <button type="submit" class="btn btn-outline-light btn-rounded m-3" <%= footer.hidden %>>
          <%= footer.nameOfButton %>
        </button>
      </form>
  </div>

