<!DOCTYPE html>
<html lang="en">
<%- include("../Partials/Head.ejs") %>
<style>
    .col {
        border-radius: 50px;
        font-size: 25px;
    }

    .form-check-input {
        font-size: 25px;
    }

</style>
<body>
    <%- include("../Partials/Navbar.ejs") %>
    
    <%- include("../Partials/Forms/ListAvailableGames.ejs") %>
</body>
</html>