<!DOCTYPE html>
<html lang="en">
<%- include("../Partials/Head.ejs"); %>

    <body onload="load()">

       
        <%- include("../Partials/Navbar.ejs"); %>

        <div class="container">
            <div id="alertID" class="alert alert-danger text-center h2" role="alert">
                Please Fill All The Fields
            </div>
        </div>

        <%- include("../Partials/Forms/CreatePlayer.ejs"); %>


        <script>
            function load(){
                let alertField = document.getElementById("alertID");
                alertField.hidden = true;
            }       

            function clientValidation() {
                let name = document.getElementById("exampleInputPassword1").value;
                let email = document.getElementById("exampleInputEmail1").value;

                let alertField = document.getElementById("alertID");
                
                if(name == "" || email == "") {
                    alertField.hidden = false;
                    alertField.innerText = "Please fill all the fields";

                    setInterval(() => {
                        alertField.hidden = true;
                    }, 2000);
                    return false;
                }else{
                    alertField.className = "alert alert-success text-center h2";
                    alertField.innerText = "Player Added Successfully";
                    alertField.hidden = false;

                    setInterval(() => {
                        alertField.hidden = true;
                    }, 2000);
                    return true;
                }
            }

        </script>

    </body>

</html>